.Button {
  width: 32px;
  height: 32px;
  padding: 2px 0 0 0;
  border: none;
  text-align: center;
  border-radius: 1px;
  color: #fff;
  background: none;
  cursor: pointer;
}

.Button:hover {
  color: #ccc;
}

.Button:disabled,
.Button:disabled:hover {
  color: #777;
}

.Button:active,
.Button-active,
.Button-active:hover {
  color: orange;
}
