.Toolbar {
  position: absolute;

  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  padding: 11px 11px 12px 11px;
  background: rgba(0,0,0,0.8);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  user-select: none;
}

.Toolbar > div {
  display: inline-block;
}

/* separator */
.Toolbar > span {
  position: relative;
  bottom: 2px;
  display: inline-block;
  width: 2px;
  height: 18px;
  background: #fff;
  margin: 0 10px;
}

/* svg icon */
.Toolbar a {
  display: inline-block;
  margin: 0 4px;
}
.Toolbar a svg path {
  fill: #fff;
}
.Toolbar a:hover svg path {
  fill: #ccc;
}
.Toolbar a:active svg path {
  fill: orange;
}
