.Menu {
	z-index: 888;
	position: absolute;
}

.Menu__MainButton {
	position: absolute;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background: #68AEF0;
	cursor: pointer;
	display: flex;
	justify-content : center;
	align-items: center;
	color: #fff;
	font-weight: lighter;
	border: 1px solid rgba(0, 0, 0, 0.1);
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.Menu__MainButton:hover {
	background: #4994da;
}

.Menu__MainButton i {
	font-size: 30px;
}

.Menu__ChildButton {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48;
	height: 48;
	border-radius: 100%;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
	color: #8898A5;
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.Menu__ChildButton i {
	width: 48;
	height: 48;
	line-height: 48;
}

.Menu__ChildButton i:hover {
	color: orange;
}
