.PortalMenu__Item {
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.PortalMenu__Item:hover {
  background: #eee;
}

.PortalMenu__Item:focus {
  background: #eee;
}

.PortalMenu__Item .material-icons {
  font-size: 18px;
  margin-right: 4px;
  height: 32px;
  line-height: 32px;
}
