.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #777;
  border: none;
  margin: 3px;
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .button {
    margin: 6px;
  }
}

.button:hover {
  background: #eee;
}

.button:active {
  background: #ddd;
}

.button:disabled {
  color: #ddd;
}

.button:disabled:hover {
  background: #fff;
}

.button svg {
  display: block;
}

.button.active {
  border: 1px solid #aaa;
}
