@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 9999px;
}

.drawer-toggle ~ .drawer-content {
  display: flex;
  flex-direction: column;
}

/*
@media only screen and (min-width: 1024px) {
  .drawer-mobile > .drawer-toggle ~ .drawer-side {
    border-right: 1px solid #d1d5db;
  }
}
*/

.font-fira {
  font-family: 'Fira Code', monospace;
}
