.container {
  border: 2px solid blue;
  display: block;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  margin: 50px 0 0 50px;
}

.editor {
  /*border: 2px solid blue;*/
  display: block;
  width: calc(100vw - 0px);
  height: calc(100vh - 0px);
}

.canvas {
  border: 2px solid red;
  border: 2px solid green;
}
