.ToolButton {
  width: 32px;
  height: 32px;
  padding: 2px 0 0 0;
  border: none;
  text-align: center;
  border-radius: 1px;
  color: #fff;
  background: none;
  cursor: pointer;
}

.ToolButton:hover {
  color: #ccc;
}

.ToolButton:disabled,
.ToolButton:disabled:hover {
  color: #777;
}

.ToolButton:active,
.ToolButton-active,
.ToolButton-active:hover {
  color: orange;
}

.ToolButton:nth-child(2) i {
  font-size: 22px;
}
