.Layers .tree-view_label {
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Layers .tree-view_label:hover {
  background-color: #eee;
}

.Layers .tree-view_label .material-icons {
  display: inline-block;
  margin: 0 2px;
  padding: 0;
  width: 16px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}

.Layers .tree-view_label span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
