.Layers .tree-view_label {
  display: flex;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.Layers .tree-view_label:hover {
  background-color: #eee;
}

.Layers .tree-view_label-selected,
.Layers .tree-view_label-selected:hover {
  background: #ddd;
}

.Layers .tree-view_label .material-icons {
  display: inline-block;
  margin: 0 2px 0 5px;
  padding: 0;
  width: 16px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}

.Layers .tree-view_label span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
